{# templates/about.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}
    Sobre - Symfony
{% endblock %}
{% block body %}
    <section>
        <h2>
            Sobre
        </h2>
        <p>
            Esta é a página Sobre com uma breve descrição.
        </p>
    </section>
{% endblock %}
{% block react %}
    Teste
{% endblock %}
