{# templates/home.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}
    Home - Symfony
{% endblock %}
{% block body %}
    <section>
        <h2>
            Olá Symfony
        </h2>
        <p>
            Este é o conteúdo principal da página Home.
        </p>
    </section>
{% endblock %}
